
@{
    ViewData["Title"] = "Listado De Estudiantes";
	@model List<StudentViewModel>;
}

<div class="container">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<td>N°</td>
				<td>DNI</td>
				<td>Nombre</td>
				<td>Apellido</td>
				<td>Email</td>
				<td>Genero</td>
				<td>Estado</td>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model) { 
			<tr>
				<td>@item.Student_id</td>
				<td>@item.dni</td>
				<td>@item.firstName</td>
				<td>@item.lastName</td>
				<td>@item.Email</td>
				<td>@item.Genre</td>
				<td>@(item.isActive == 1 ? "Activo" : "Inactivo")</td>
			</tr>
			}
		</tbody>
	</table>

	<div class="card">
		<div class="card-header">Agregar Estudiante</div>
		<div class="card-body">
			<a asp-action="Add" asp-controller="Student" class="btn btn-success">Agregar</a>
		</div>
	</div>
</div>

